/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/
/* Blank slate */

body {
	margin: 0px;
}

img {
	max-width: 100%;
	height: auto;
}

.website-title-div {
	width: 435px;
	height: 70px;
	text-align: center;
	margin: 0 auto;
	border: 2px solid black;
}

.website-title {
	/*background-color: #dddddd; keep track of where homepage title is */
	color: #428df5;
	font-size: 55px;
	padding: 5px;
	font-family: 'Muli', Arial, sans-serif;
}

.intro-sentence {
	display: flex;
	justify-content: center;
	background-color: #bee8bb;
	height: 40px;
	font-size: 25px;
	padding-top: 10px;
	word-spacing: 3px;
	font-family: 'Heebo', Arial, sans-serif;
}

.pepe-bird-img {
	display: block;
	margin: 0 auto;
	width: 400px;
}

.pepe-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	font-size: 100px;
	font-family: 'Dancing Script', cursive, Arial, sans-serif;
	transform: rotate(-20deg);
	text-decoration: underline;
}









