/*
buttons
table
  header
  other rows
text (font for everything)
dialog boxes (alert, confirm)
spacing
inputs (border swag)

https://getbootstrap.com/docs/4.3/getting-started/introduction/
*/
/* Blank slate */

body {
	margin: 0px;
}

img {
	max-width: 100%;
	height: auto;
}

.website-title-div {
	width: 435px;
	height: 70px;
	text-align: center;
	margin: 0 auto;
	background-color: black;
	border: 2px solid black;
	border-radius: 10px;
}

.website-title {
	/*background-color: #dddddd; keep track of where homepage title is */
	color: #428df5;
	font-size: 55px;
	padding: 5px;
	font-family: 'Muli', Arial, sans-serif;
}

.intro-sentence {
	display: flex;
	justify-content: center;
	background-color: #bee8bb;
	height: 40px;
	font-size: 25px;
	padding-top: 10px;
	word-spacing: 3px;
	font-family: 'Heebo', Arial, sans-serif;
}

.navbar {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.navbar li {
	float: left;
	border-right: 2px solid #bbbbbb;
}

.navbar a {
	display: block;
	padding: 8px;
	background-color: black;
	color: #428df5;
	font-family: 'Muli', Arial, sans-serif;
}

li a:hover,
li a.active {
	background-color: #bee8bb;
}

.intro-paragraph {
	display: inline-block;
	padding-left: 5px;
	font-size: 20px;
	font-family: 'Heebo', Arial, sans-serif;
}

.intro-paragraph p {
	align-content: center;
}

.pepe-bird-img {
	/*display: block;*/
	float: right;
	/*margin: 0 auto;*/
	width: 400px;
}

.pepe-text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 900px;
	height: 75px;
	font-size: 100px;
	font-family: 'Dancing Script', cursive, Arial, sans-serif;
	transform: rotate(-20deg);
	text-decoration: underline;
}

.all-classes {
	margin-top: 50px;
	background-color: #e3e1df;
}

.class-div {
	display: inline-block;
	width: 30%;
}

.class-img {
	width: 90%;
	height: 90%;
}

.class-name {
	width: 90%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 35px;
	margin: 0 auto;
	border: 2px solid black;
	border-radius: 10px;
}

.strength {
	width: 90%;
	color: #1aa301;
	text-align: center;
	font-size: 30px;
	margin-top: 25px;
}

.strength ul {
	padding: 0px;
}

.strength li {
	color: black;
	list-style-type: none;
	font-size: 20px;
}

.strength li::before {
	content: "+ ";
	color: #1aa301;
	font-weight: bold;
}

.weakness {
	width: 90%;
	color: #bd0d00;
	text-align: center;
	font-size: 30px;
}

.weakness ul {
	padding: 0px;
}

.weakness li {
	color: black;
	list-style-type: none;
	font-size: 20px;
}

.weakness li::before {
	content: "- ";
	color: #bd0d00;
	font-weight: bold;
}

.death-knight-name {
	background-color: #C41F3B;
}

.demon-hunter-name {
	background-color: #A330C9;
}

.druid-name {
	background-color: #FF7D0A;
}

.hunter-name {
	background-color: #ABD473;
}

.mage-name {
	background-color: #40C7EB;
}

.monk-name {
	background-color: #00FF96;
}

.paladin-name {
	background-color: #F58CBA;
}

.priest-name {
	background-color: #FFFFFF;
}

.rogue-name {
	background-color: #FFF569;
}

.shaman-name {
	background-color: #0070DE;
}

.warlock-name {
	background-color: #8787ED;
}

.warrior-name {
	background-color: #C79C6E;
}


.copyright-div {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 20px;
	height: 100px;
	font-size: 20px;
	background-color: black;
	color: #428df5;
}

.web-form {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.web-form input {
	border: 2px solid black;
	border-radius: 5px;
}





